.is-sp {
    display: none !important;
}

section {
    max-width: fit-content;
    margin: auto;
}

/* concept */
.concept {
    margin-top: 3rem;
}

.logo-wrapper>* {
    width: fit-content;
    margin: auto;
}

.concept-text {
    margin: 9rem auto 4rem;
}

/* cosmetic */
.cosmetic {
    max-width: 100%;
    position: relative;
}

.cosmetic-container {
    max-width: 100%;
    width: 1100px;
    height: 1654px;
    margin: auto;
    position: relative;
}

.cosmetic-item {
    position: absolute;
}

.cosmetic-image01 {
    top: 0;
    left: 0;
}

.cosmetic-image02 {
    top: 527px;
    right: 0;
}

.cosmetic-image03 {
    top: 765px;
    left: 48px;
}

.cosmetic-image04 {
    bottom: 56px;
    left: 0;
}

.cosmetic-text01 {
    top: 146px;
    right: 235px;
}

.cosmetic-text02 {
    top: 576px;
    left: 456px;
}

.cosmetic-text03 {
    bottom: 300px;
    right: 160px;
}

.border {
    position: absolute;
    z-index: -100;
    max-width: 100%;
    left: 0;
    object-fit: cover;
}

.border-01 {
    top: 217px;
    height: 237px;
}

.border-02 {
    bottom: 0;
    height: 405px;
}

/* product */

.product {
    margin-top: 10rem;
    max-width: none;
    width: 100%;
    height: 160rem;
    background-image: url(../images/pc/webp/product-bg-origin.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    position: relative;
}

.product-title,
.product-subtitle {
    width: fit-content;
    margin: auto;
}

#qeta-main .product-title {
    padding-top: 10rem;
    margin-bottom: 0;
}

.product-subtitle {
    margin-top: 3rem;
}


.product-contents {
    width: 801px;
    margin: auto;
}

.product-text-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.product-text-list-item {
    width: 219px;
    margin-bottom: 6rem;
}

.product-balm > .product-debut {
    position: relative;
    top: 10rem;
}

.product-debut {
    width: fit-content;
    margin: auto;
}

.product-comming {
    margin-top: 1rem;
}

.product-image {
    height: 35rem;
}

.product-text-content {
    /* margin-top: 35rem; */
}

.product-annotation {
    position: absolute;
    bottom: 2rem;
    left: 55%;
}

/* sns */
.scroll-area {
    width: 3rem;
    height: 7rem;
    margin: auto;
    position: relative;
}

.scroll-area-01 {
    width: 5rem;
    height: 15rem;
    margin-bottom: -6rem;
    z-index: 100;
}

.scroll-area-02 {
    margin-top: 5rem;
}

.scroll-bar {
    width: 1px;
    height: 100%;
    background: #7e7e7e;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #7e7e7e;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: scroll-bar 2s infinite linear;
}

.scroll-area-02 > .scroll-circle {
    animation-duration: 1.5s;
}

.scroll-text {
    position: absolute;
    right: 0;
}

@keyframes scroll-bar {
    from {
        top: 0%
    }

    to {
        top: 100%
    }

    50% {
        opacity: 1;
    }
}



.sns-follow-us {
    width: fit-content;
    margin: 2rem auto;
}

.sns-list {
    display: flex;
    gap: 3rem;
}

/* footer */
.footer {
    margin-bottom: 5rem;
    font-family: 'ヒラギノ角ゴ Std', "Hiragino Kaku Gothic ProN", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", 'Noto Sans JP', sans-serif;
    color: #5b5b5b;
    margin-top: 8rem;
}

.footer-logo-image,
.footer-logo-text {
    width: fit-content;
    margin: auto;
}

.footer-logo-text {
    color: #2d87ae;
}

.footer-links {
    display: flex;
    gap: 2.5rem;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.footer-link-item {
    text-decoration: underline;
}

.footer-link-item > a {
    color: #644326;
}

.footer-banner {
    width: fit-content;
    margin: 3rem auto;
}

.footer-tel,
.footer-adress,
.footer-notion {
    text-align: center;
}

.footer-tel,
.footer-adress {
    font-size: 1.6rem;
}

.footer-secure img {
    width: fit-content;
    margin: 2rem auto;
}

.footer-notion {
    margin-top: 1rem;
    font-size: 1rem;
}